/* stylelint-disable comment-empty-line-before */
/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color: #333; // 基本色
$uni-text-color-inverse: #fff; // 反色
$uni-text-color-grey: #999; // 辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

/* 背景颜色 */
$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; // 点击状态颜色
$uni-bg-color-mask: rgb(0 0 0 / 40%); // 遮罩颜色

/* 边框颜色 */
$uni-border-color: #c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm: 12px;
$uni-font-size-base: 14px;
$uni-font-size-lg: 16;

/* 图片尺寸 */
$uni-img-size-sm: 20px;
$uni-img-size-base: 26px;
$uni-img-size-lg: 40px;

/* Border Radius */
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-lg: 6px;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;
$uni-spacing-row-lg: 15px;

/* 垂直间距 */
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 12px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2c405a; // 文章标题颜色
$uni-font-size-title: 20px;
$uni-color-subtitle: #555; // 二级标题颜色
$uni-font-size-subtitle: 18px;
$uni-color-paragraph: #3f536e; // 文章段落颜色
$uni-font-size-paragraph: 15px;

/* 从 taiko_bj_miniprogram 项目合并的字体和样式 */
@font-face {
  font-family: "iconfont1";
  /* Project id 5058621 */
  src: url('data:font/ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQiCLJXoAAAE4AAAAVE9TLzI8FUjQAAABjAAAAGBjbWFw5yi1qgAAAfQAAAFwZ2x5ZsmPj+sAAANsAAAAqGhlYWQtf7XAAAAA4AAAADZoaGVhB9sDgwAAALwAAAAkaG10eAgA//0AAAHsAAAACGxvY2EAVAAAAAADZAAAAAZtYXhwAQ0APwAAARgAAAAgbmFtZRCjPLAAAAQUAAACZ3Bvc3TX2t7mAAAGfAAAADIAAQAAA4D/gABcBAD//QAABAAAAQAAAAAAAAAAAAAAAAAAAAIAAQAAAAEAAPUdJUxfDzz1AAsEAAAAAADlMbjCAAAAAOUxuML//f++BAADgQAAAAgAAgAAAAAAAAABAAAAAgAzAAEAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKADAAPgACREZMVAAObGF0bgAaAAQAAAAAAAAAAQAAAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAQEAAGQAAUAAAKJAswAAACPAokCzAAAAesAMgEIAAACAAUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBmRWQAwOYA5gADgP+AAAAD3ACAAAAAAQAAAAAAAAAAAAAAAAACBAAAAAQA//0AAAAFAAAAAwAAACwAAAAEAAABVAABAAAAAABOAAMAAQAAACwAAwAKAAABVAAEACIAAAAEAAQAAQAA5gD//wAA5gD//wAAAAEABAAAAAEAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAAABwAAAAAAAAAAQAA5gAAAOYAAAAAAQAAAAAAVAAAAAH//f++A/8DgQAyAAABFhcWHwEWBiMiLwElBg8CDgEHBi4CPwMnLgE+ATclEz4BMzIeAR8BEwUeARQPAQMNEg0GBRUDGA8FCg/+9kg8Mi4UHQYKFRIIAhoOI94MEQQSDAE7dQYXEwoPCwMGcgE7FRAJFgEYUUEbHGwUDgQFmyoiHRoMEQIFAw0RCWo2j74LGx0QAh0BEREXCQwHCv7vHgUOHgoaAAAAAAAAEgDeAAEAAAAAAAAAEwAAAAEAAAAAAAEACAATAAEAAAAAAAIABwAbAAEAAAAAAAMACAAiAAEAAAAAAAQACAAqAAEAAAAAAAUACwAyAAEAAAAAAAYACAA9AAEAAAAAAAoAKwBFAAEAAAAAAAsAEwBwAAMAAQQJAAAAJgCDAAMAAQQJAAEAEACpAAMAAQQJAAIADgC5AAMAAQQJAAMAEADHAAMAAQQJAAQAEADXAAMAAQQJAAUAFgDnAAMAAQQJAAYAEAD9AAMAAQQJAAoAVgENAAMAAQQJAAsAJgFjQ3JlYXRlZCBieSBpY29uZm9udGljb25mb250UmVndWxhcmljb25mb250aWNvbmZvbnRWZXJzaW9uIDEuMGljb25mb250R2VuZXJhdGVkIGJ5IHN2ZzJ0dGYgZnJvbSBGb250ZWxsbyBwcm9qZWN0Lmh0dHA6Ly9mb250ZWxsby5jb20AQwByAGUAYQB0AGUAZAAgAGIAeQAgAGkAYwBvAG4AZgBvAG4AdABpAGMAbwBuAGYAbwBuAHQAUgBlAGcAdQBsAGEAcgBpAGMAbwBuAGYAbwBuAHQAaQBjAG8AbgBmAG8AbgB0AFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBuAGYAbwBuAHQARwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABzAHYAZwAyAHQAdABmACAAZgByAG8AbQAgAEYAbwBuAHQAZQBsAGwAbwAgAHAAcgBvAGoAZQBjAHQALgBoAHQAdABwADoALwAvAGYAbwBuAHQAZQBsAGwAbwAuAGMAbwBtAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIBAgEDAAhzaG91Y2FuZwAAAAA=') format('truetype');
}

@font-face {
  font-family: "iconfont";
  /* Project id 4805027 */
  src: url('data:font/ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQiCLJXoAAAE4AAAAVE9TLzI8JEsfAAABjAAAAGBjbWFwOZ9xlgAAAhAAAAIYZ2x5ZtkQUeYAAAQ8AAAD2GhlYWQtSXIvAAAA4AAAADZoaGVhB94DigAAALwAAAAkaG10eCQAAAAAAAHsAAAAJGxvY2EDtAR6AAAEKAAAABRtYXhwARYASgAAARgAAAAgbmFtZRCjPLAAAAgUAAACZ3Bvc3SLhkhrAAAKfAAAAIcAAQAAA4D/gABcBAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAkAAQAAAAEAAItPwdNfDzz1AAsEAAAAAADlFRcZAAAAAOUVFxkAAP9/BAADgQAAAAgAAgAAAAAAAAABAAAACQA+AAMAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKADAAPgACREZMVAAObGF0bgAaAAQAAAAAAAAAAQAAAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAQEAAGQAAUAAAKJAswAAACPAokCzAAAAesAMgEIAAACAAUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBmRWQAwOYO6E8DgP+AAAAD3ACBAAAAAQAAAAAAAAAAAAAAAAACBAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAAAAAABQAAAAMAAAAsAAAABAAAAZwAAQAAAAAAlgADAAEAAAAsAAMACgAAAZwABABqAAAAEgAQAAMAAuYO5h7mMuZn5oDnJuco6E///wAA5g7mHeYy5mfmgOcm5yjoT///AAAAAAAAAAAAAAAAAAAAAAABABIAEgAUABQAFAAUABQAFAAAAAMACAAEAAEAAgAEAAUABgAHAAABBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAB8AAAAAAAAAAkAAOYOAADmDgAAAAMAAOYdAADmHQAAAAgAAOYeAADmHgAAAAQAAOYyAADmMgAAAAEAAOZnAADmZwAAAAIAAOaAAADmgAAAAAQAAOcmAADnJgAAAAUAAOcoAADnKAAAAAYAAOhPAADoTwAAAAcAAAAAAEoAaACYAMgBHgFeAbQB7AADAAD/fwPfA4AADQAgAC0AADchMhYUBgchIi4BND4BATAfAgEHDgErASImPQE0Nj8BAT4BMzIeAR8BBg8BJmkDLh4pKR780hQiFRUiAaQBaGX+cBoUNBxyEBcYFhUB0xEtMi0SJBgRERgEaBIrPCoBEyIoIhQDCAFzbP5gGRQVFxF0HzgWFQHjERQTEicYQkIZBXAAAQAA/4ADJQOAAAsAAAkBJwkBNwE3FwcXBwLb/kVFAbv+RUUBuwVFBgZFATv+RkQBuwG7RP5GBUUFBUUAAQAAAAADwQJsABgAABMiBw4BFxYXHgEfARYyNwE+AS4BBwEAJyZtBQYSEwQCBwpIV+8NJA0Bkg0CGiUN/oz+phgOAmwCBB8TBgkMRlLgDQ0BfAwlGwIN/qEBRRgQAAAAAQAA/4ED3QOBABkAAAEuAQchIg4BFhcBERQfARYzMjc+ATURAT4BA9AMNR/9Hh80FwwWAVENmg0TCAkMDwEyFQsDQR0jASI5PRb+vP6+Eg2eDQMFFg4B4gFCFj0AAAAAAwAA/8EDwAM+ABAAIQA9AAAFIi4CND4CMh4CFA4CAyIOAhQeAjI+AjQmAyMVFAYiJj0BIyImNDY7ATU0NjIWHQEzMhYUBgM9QKO0o39ERH+jtKN/REScwBMaE8ANExMNwBMaE8ANExMCu0BDQ3+jsqN/Q0N/o7Kj/uTADRMTDcATGhPADRMTDcATGhMAAwAA/94DogMiAAsAIAA1AAABISImNDYzITIWFAYDIicmJyY0NzY3NjIXFhcWFAcGBwYDIgcGBwYUFxYXFjI3Njc2NCcmJyYCnf7GCA0NCAE6CA0NpXFiXjg5OTheYuJiXjg5OTheYnFmWFUyMzMyVVjMWFUyMzMyVVgBawwSDAwSDP5zOTheYuJiXjg5OTheYuJiXjg5AxozMlVYzFhVMjMzMlVYzFhVMjMAAAIAAP/HA78DRgAUACAAAAEiBwYHBhQXFhcWMjc2NzY0JyYnJhMhIiY0NjMhMhYUBgIAeWllOz09O2Vp8mllOz09O2VpaP4+Cw8PCwHCCw8PA0Y9PGVo82hlOz09O2Vo82hlPD3+Jw8VDw8VDwAAAAAAABIA3gABAAAAAAAAABMAAAABAAAAAAABAAgAEwABAAAAAAACAAcAGwABAAAAAAADAAgAIgABAAAAAAAEAAgAKgABAAAAAAAFAAsAMgABAAAAAAAGAAgAPQABAAAAAAAKACsARQABAAAAAAALABMAcAADAAEECQAAACYAgwADAAEECQABABAAqQADAAEECQACAA4AuQADAAEECQADABAAxwADAAEECQAFABYA5wADAAEECQAGABAA/QADAAEECQAKAFYBDQADAAEECQALACYBY0NyZWF0ZWQgYnkgaWNvbmZvbnRpY29uZm9udFJlZ3VsYXJpY29uZm9udGljb25mb250VmVyc2lvbiAxLjBpY29uZm9udEdlbmVyYXRlZCBieSBzdmcydHRmIGZyb20gRm9udGVsbG8gcHJvamVjdC5odHRwOi8vZm9udGVsbG8uY29tAEMAcgBlAGEAdABlAGQAIABiAHkAIABpAGMAbwBuAGYAbwBuAHQAaQBjAG8AbgBmAG8AbgB0AFIAZQBnAHUAbABhAHIAaQBjAG8AbgBmAG8AbgB0AGkAYwBvAG4AZgBvAG4AdABWAGUAcgBzAGkAbwBuACAAMQAuADAAaQBjAG8AbgBmAG8AbgB0AEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABGAG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgAGwAbgB0AGUAbABsAG8ALgBjAG8AbQAAAgAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJAQIBAwEEAQUBBgEHAQgBCQEKAAZ4aXVnYWkKamlhbnRvdXlvdQ9hLXhpYWppYW50b3V4aWEJc2hhaXh1YW4xBmppYWhhbwtqaWFoYW8yZmlsbAdqaWFuaGFvCGppYW5oYW8xAAAA') format('truetype');
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

/* 字体图标样式 */
.iconfont,
.vertical--iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 图标样式定义 */
.icon-xiugai:before {
  content: "\e632";
}

.icon-jiantouyou:before,
.vertical--icon-jiantouyou:before {
  content: "\e667";
}

.icon-a-xiajiantouxia:before,
.vertical--icon-xiajiantouxia:before {
  content: "\e60e";
}

.icon-shaixuan1:before {
  content: "\e680";
}

.icon-shaixuan:before,
.vertical--icon-shaixuan:before {
  content: "\e61e";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-jiahao2fill:before {
  content: "\e728";
}

.icon-jianhao:before {
  content: "\e84f";
}

.icon-jianhao1:before {
  content: "\e61d";
}

/* 容器样式 */
.container {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0px 30rpx;
}